{% extends "base.html" %} 
{% block body %}
<div class="section1" style="background-color:#fff;width:100%;height:auto;margin-left: auto;margin-right: auto;">

                    
                    <div id="text1"
                        style="color:black;font-size:14px;font-family:'playfair display';margin-left:15%;margin-right:15%;">
                        <h1 style="text-align: center;color:black;">About Us</h1>
                        <h5>It all started as a passionate dream! A dream of creating a blog that is informative, a
                            dream of touching human minds, a dream of connecting with various people and being a part of
                            their
                            story! The idea was to create a great blog experience that tells the story of the
                            user.<br><br>

                            



                        </h5>
                        <div class="card" style="width: 18rem;margin:auto;">
                            <img src="https://tse4.mm.bing.net/th?id=OIP.0A1RSeVHV4YfoDGR2jUvHwHaHa&pid=Api&P=0&w=150&h=150" class="card-img-top" alt="Admin">
                            <div class="card-body">
                              <p class="card-text">MULUKUTLA  JYOTSNA  MANASA</p>
                            </div>
                        </div>
                        
                    </div>


                    

                </div>

            </div>
        </div>
    </div>
    {%endblock%}