{% extends "base.html" %} 
{% block body %}
<div class="container"style="margin:3% 10%;background:White" >
    <div class="section" >
        <h1 style="text-align: center;">Contact Us</h1>
        <p style="text-align: center;">For more Details please contact us.We are always here to help you .Feel free
            to ask your quiries here</p>
        <hr>
    </div>
    <div class="row">
      <div class="col">
        <h5><b>Email</b></h5>
        <p>mjmanasa2015@gmail.com</p>
      </div>
      <div class="col">
        <h5><b>Linkedin</b></h5>
        <a href="https://www.linkedin.com/in/jyotsna-manasa-mulukutla/">linkedin/in/jyotsna-manasa-mulukutla/</a>
      </div>
      
    </div>
  </div>
{%endblock%}