{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text">  It all started as a passionate dream! A dream of creating a
                blog that is informative, a dream of touching human minds, a dream of connecting with various people and
                being a part of their story! The idea was to create a great blog experience that tells the story of the
                user </p>
            <a href="/about" class="btn btn-danger">Know more!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}